* {
    margin: 0;
    padding: 0;
}
body {
    color: rgba(0, 0, 0, .87);
    font-family: "Avenir", "Avenir Next", "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #483b41;
    font-weight: 200;
    line-height: 1.25;
}


/* ---------->>> HEADER <<<-----------*/
div{
    display: block;
}
a {
    color: white;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.nav-header {
    margin: 0 auto;
    float: left;
    color: white;
}

.site_nav_subtitle {
    display: block;
}
#logo{
    padding: 0;
}
nav a {
    display: inline-block;
    padding: 0.75em 1.25em;
}
.site_nav_subtitle {
    font-size: 16px;
}
.site_nav_underline {
    margin: 1rem 2rem 0;
    border-bottom: 1px solid #bbbbbc;
}
.slider{
    clear: both;
}

/* ---------->>> MAIN <<<-----------*/


/*---section class splash ---*/

button {
    background-color: rgba( 255, 255, 255, 0.2);
    border: white;
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin: 40px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
    cursor: pointer;
    font-family: "Avenir", "Avenir Next", "Lato", sans-serif;
    font-style: normal;
}
.splash {
    background-image: url(../images/bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}
h1 {
    font-family: 'Petit Formal Script';
}
h2, h4, h1 {
    text-align: center;
}

/*---section class about ---*/



.3col{
    font-size: 25px;
    width: 33.33%;
}

.container{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    background-color: red;
    display: block;
   }


/*---section class map ---*/


.row::before, .row::after{
    content: "";
    clear: both;
    display: table;
}


/* ---------->>> FOOTER <<<-----------*/

footer {
    background-color: blue;
}


