* {
    margin: 0;
    padding: 0;
}
body {
    color: rgba(0, 0, 0, .87);
    font-family: "Avenir", "Avenir Next", "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #483b41;
    font-weight: 200;
    line-height: 1.25;
    font-size: 15px;
}


/* ---------->>> HEADER <<<-----------*/
div{
    display: block;
}
a {
    color: white;
    font-size: 2em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
.pic{
    border-radius: 50%;
    padding: 1em 0em;
    margin: 0 auto;
    display: block;
}
.nav-header {
    text-align: center;
    margin: 0 auto;
    color: white;
}
#social{
    background-image:url(../images/map.jpg);
    height: 350px;
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 2em 0em;
}
.site_nav_subtitle {
    display: block;
}
#logo{
    padding: 0;
    width: 50px;
    vertical-align: bottom;
}
.site_nav_link:hover, .myname:hover {
    color: #ad8591;
}
nav a {
    display: inline-block;
    padding: 0.75em 1.25em;
}
.site_nav_subtitle {
    font-size: 1em;
}
.site_nav_underline {
    margin: 1rem 2rem 0;
    border-bottom: 1px solid #bbbbbc;
}
hr{
    width: 90%;
    margin: 0 auto;
}
.slider{
    clear: both;
    height: 100vh;
    position: relative;
}

.verticalAlign {
    top:20%;
    transform: translateY(50%);
    position: relative;
}
/* ---------->>> MAIN <<<-----------*/


/*---section class splash ---*/

button {
    background-color: rgba( 255, 255, 255, 0.2);
    border: white;
    border-radius: 4px;
    color: white;
    padding: 10px;
    margin:2em auto;
    text-align: center;
    text-decoration: none;
    display:block;
    font-size: 32px;
    cursor: pointer;
    font-family: "Avenir", "Avenir Next", "Lato", sans-serif;
    font-style: normal;
}
.splash {
    background-image: url(../images/bg_2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100vh;
}
h1 {
    font-family: 'Petit Formal Script';
}
h2, h4, h1 {
    text-align: center;
}
h2{
    margin-top: 30px;
    letter-spacing: 2px;
    font-size: 30px;
}
h3{
    letter-spacing: -0.3px;
    font-variant: small-caps;
    font-weight: 400;
}


/*---section class about ---*/

.threecol{
    text-align: justify;
    margin-top: 50px;
    line-height: 150%;
    font-size: 22px;
    width: 33.33%;
    float:left;
}
.middlecol{
    margin-top: 20px;
}
.container{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.row{
    height: 500px;
    display: block;
   }
.about_part, .contact{
        margin: 40px;
        text-align: center;
}

/*---section class map ---*/

.cellphone, .email{
    color: #483b41;;
}
.row::before, .row::after{
    content: "";
    clear: both;
    display: table;
}

.group {
    position: relative;
}
.phone-icon, .letter-icon{
    transform: translateY(20%);
}
.phone, .email_info, .social_links{
    padding: 5px 10px;
}
.social_links{
    margin-top: 40px;
}
.social_icon{
    padding: 0 10px;
}
/* ---------->>> FOOTER <<<-----------*/

.site_footer{
    background-color: white;
    text-align: center;
    color: #483b41;
}
.myname{
    color: #483b41;
    font-size: 20px;
    padding-left: 5px;
}


