* { margin:0; padding:0; box-sizing:border-box; }
body {
	color:rgba(0,0,0,.87);
	font-family:helvetica, arial, sans-serif;
	font-size:16px;
	font-weight: 200;
	line-height:1.25;
}
header{
	background-color: #FFED74;
	border: 1px none;
	padding: 10px;
}
div{
	border: 1px black solid;
	padding: 20px;
}
section{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
nav{
	background-color: #223656;
	border: 1px none;
}
article{
	text-align: center;
	padding-top: 100px;
	background-image: url("../images/tusi.jpg");
	background-size: cover;
	border: 1px white;
	padding: 300px;
	color: #fff;
}
aside{
	margin: 10px;
	background-color: #FFC675;
	border: 1px  solid black;
}

footer{
	background-color: #FF957E;
	border: 1px none;
	padding: 20px;
	text-align: center;
}
h1{
	font-size: 76px;
	padding: 7px 7px;
	margin: 70px 7px 0;
}

.wrapper{
	background-color:#FFE2B8; 
}
.buttons{
    color: #223656;
    width: 150px;
    height: 20px;
    margin: 13px;
    text-align: center;
    display: table-cell;
    border: none;
    background-color: #FFED74; 
    font-weight: 500;

}
#logo{
	border: none;
	display: block;
}
#slogan{
	font-size: 25px;
}
#first{
	text-align: justify;
	padding: 10px;
}
#second{
	text-align: justify;
	padding: 10px;
}
#third{
	text-align: justify;
	padding: 10px;
	font-size: 15px;
}
